.container{
    background-color: #fff;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;

    box-shadow: rgba(100,100,100,.2) 0px 0px 29px 0;
    padding-inline: 15px;
}

.header{
    height: 60px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
}

.main{
    padding-top: 10px;
}

.footer{
    padding-block: 100px;
    color: gray;
}