.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cover_img_container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover_img_container::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

.cover_img_container>img{
    max-height: 350px;
    height: 100%;
z-index: 1;
}

.title{
    font-size: large;
    font-weight: 700;
}

.subTitle{
    color: gray;
}

.author{
    color: gray;
}

.description{
    background-color: rgb(245,245,245);
    padding: 15px;
    line-height: 1.3;
    white-space: pre-line;
    border-radius: 5px;
}